<div class="app-header">
    <img class="header-logo" src="/assets/imgs/home-logo.jpg">

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/myteam/create/0">Build Your Team</a>
        </li>
        <li class="nav-item" *ngIf="username.length > 0">
            <a class="nav-link" href="/profile">Welcome {{username}}</a>
        </li>
        <li class="nav-item" *ngIf="username.length > 0">
            <a class="nav-link" href="javascript:void(0)" (click)="onLogout()">Log out</a>
        </li>
        <li class="nav-item" *ngIf="username.length == 0">
            <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="username.length == 0">
            <a class="nav-link" href="/login">Log in</a>
        </li>
    </ul>
</div>