<nav>
    <div class="login-frame">
        <div class="login-title">
            <img class="login-logo" src="/assets/imgs/home-logo.jpg">
        </div>

        <div class="login-content">
            <div class="title">
                Login
            </div>
            <div class="signup">
                New to MOREPPL? &nbsp;&nbsp; <a href="/signup">Sign Up</a>
            </div>
            <div class="content-wrapper">
                <div class="content-left">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 100px;" id="basic-addon1">Username:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 100px;" id="basic-addon1">Password:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="form-check remember">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Remember Me
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary btn-login">Login</button>
                    <span class="forget"><a href="#">Forgot Password</a></span>
                </div>
                <div class="content-right">
                    <div class="pic-wrapper" (click)="socialSignIn('google')">
                        <img class="third-logo" src="/assets/imgs/google.jpg">
                    </div>
                    <div class="pic-wrapper" (click)="socialSignIn('facebook')">
                        <img class="third-logo" src="/assets/imgs/facebook.jpg">
                    </div>
                </div>
            </div>
            <div class="content-terms">
                * By logging in, you agree to our Terms of Use and to receive emails & updates and acknowledge that you
                read our Privacy Policy.
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</nav>