@import '../../styles.scss';


.login-frame {
    max-width: 1190px;
    margin: 0 auto;
}
.login-title {
    width: 100%;
    height: 77px;
    .login-logo {
        width: 350px;
        height: 77px;
    }
}
.login-content {
    display: block;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    .title {
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 70px;
        font-weight: 400;
    }
    .signup {
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
    }
    .content-wrapper {
        width: 100%;
        height: 220px;
        .content-left {
            float: left;
            width: 370px;
            height: 200px;
            .btn-login {
                width: 130px;
                height: 40px;
                font-size: 16px;
            }
            .forget {
                display: block;
                float: right;
                height: 40px;
                padding-top: 13px;
            }
            .remember {
                height: 40px;
            }
        }
        .content-right {
            float: right;
            width: 300px;
            height: 200px;
            border-left: 1px solid gray;
            padding-left: 45px;
            padding-top: 40px;
            .pic-wrapper {
                width: 100%;
                height: 60px;
                .third-logo {
                    width: 250px;
                    height: 42px;
                    cursor: pointer;
                }
            }
        }
    }
    .content-terms {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        text-align: center;
        font-size: 13px;
        //font-weight: 400;
    }
}
