<app-header></app-header>
<nav>
    <div class="profile-frame">
        <div class="row">
            <div class="col-3">
                <ul class="nav nav-pills flex-column" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                            role="tab" aria-controls="pills-profile" aria-selected="true">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab"
                            aria-controls="pills-password" aria-selected="false">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-follows-tab" data-toggle="pill" href="#pills-follows" role="tab"
                            aria-controls="pills-follows" aria-selected="false">My Follows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-teams-tab" data-toggle="pill" href="#pills-teams" role="tab"
                            aria-controls="pills-teams" aria-selected="false">My Teams</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 profile-right">
                <div class="tab-content" id="pills-tabContent">
                    <!-- My Profile -->
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-3">
                                <img class="head-photo" [src]="headPhotoUrl" alt="Smiley face">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupHeadPhoto" name="inputGroupHeadPhoto" accept="image/*"
                                            aria-describedby="inputGroupFileAddon01" (change)="onSetHeadPhotoClick($event)">
                                        <label class="custom-file-label" for="inputGroupHeadPhoto">Photo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Email</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.email">
                                </div>
                                <!--div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Nickname</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.username">
                                </div-->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">First Name</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.first_name">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Last Name</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.last_name">
                                </div>
                                <!--div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Level</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.level">
                                </div-->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Mobile</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.mobile">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Gender</span>
                                    </div>
                                    <select class="custom-select" [(ngModel)]="user.sex">
                                        <option [value]="0">Secret</option>
                                        <option [value]="1">Female</option>
                                        <option [value]="2">Male</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-title">Birthday</span>
                                    </div>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3"
                                        [(ngModel)]="user.birthday">
                                </div>
                                <label>Description Myself</label>
                                <div class="input-group mb-3">
                                    <textarea class="form-control" aria-label="With textarea" rows="5"
                                        [(ngModel)]="user.desc"></textarea>
                                </div>
                                <button type="button" class="btn btn-outline-primary"
                                    (click)="onSaveClick()">Update</button>
                            </div>
                        </div>
                    </div>
                    <!-- Change Password -->
                    <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-pass-title">Old Password</span>
                            </div>
                            <input type="password" class="form-control" aria-describedby="basic-addon3"
                                [(ngModel)]="oldPass">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-pass-title">New Password</span>
                            </div>
                            <input type="password" class="form-control" aria-describedby="basic-addon3"
                                [(ngModel)]="newPass1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-pass-title">Repeat New Password</span>
                            </div>
                            <input type="password" class="form-control" aria-describedby="basic-addon3"
                                [(ngModel)]="newPass2">
                        </div>
                        <div class="mx-auto" style="width: 100%; text-align: center;">
                            <button type="button" class="btn btn-primary" (click)="onChangePassword()">Change
                                Password</button>
                        </div>
                    </div>
                    <!-- My Follows -->
                    <div class="tab-pane fade" id="pills-follows" role="tabpanel" aria-labelledby="pills-follows-tab">
                        <div class="follows-frame">
                            <div class="card follows-card" *ngFor="let item of followTeams; let i=index;">
                                <img [src]="item.photo" class="card-img-top" (click)="onTeamClick(item.id)">
                                <div class="card-body">
                                    <p class="card-text"> <a href="/team/view/{{item.id}}"
                                            target="_blank">{{item.title}}</a> </p>
                                    <p class="card-text">{{item.author}}</p>
                                    <p class="card-text">{{item.time_begin}} - {{item.time_end}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- My Teams -->
                    <div class="tab-pane fade" id="pills-teams" role="tabpanel" aria-labelledby="pills-teams-tab">
                        <table class="table table-sm table-hover">
                            <tbody>
                                <tr *ngFor="let item of myTeams; let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <th>
                                        <a href="/myteam/edit/{{item.id}}" target="_blank">{{item.title}}</a>
                                    </th>
                                    <th>
                                        <a href="/team/view/{{item.id}}" target="_blank">Request(5)</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-footer></app-footer>