@import '../../styles.scss';

.profile-frame {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}
.profile-right {
    border-left: 1px solid gray;
    //border-right: 1px solid gray;
}
.input-title {
    width: 110px;
}
.desc-title {
    width: 100%;
}
.input-pass-title {
    width: 190px;
}
.follows-frame {
    width: 800px;
    height: auto;
    overflow: hidden;
    .follows-card {
        float: left;
        width: 220px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
}
.head-photo {
    width: 150px;
    height: 200px;
}
