@import '../../styles.scss';

.profile-frame {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}
.profile-right {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.input-title {
    width: 110px;
}
.desc-title {
    width: 100%;
}
