/* You can add global styles to this file, and also import other style files */


$colors: (
    primary:    #2B5366,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    bg:         #DFE9ED,
    text1:      #FFF
);
