@import '../../styles.scss';

.home-frame {
    max-width: 100%;
    margin: 0 auto;
}
.home-header-bg {
    width: 100%;
    height: 500px;
    background-image: url("/assets/imgs/home_bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home-search {
    width: 100%;
    .home-buildbtn {
        float: right;
        width: 260px;
        height: 100px;
        padding: 10px;
        .build-btn {
            width: 250px;
            height: 90px;
        }
    }
    .home-condition {
        width: calc(100% - 260px);
        .search-condition {
            width: 100%;
            height: 56px;
            border: 1px solid color($colors, primary);
            border-radius: 5px;
            .conditions {
                width: calc(100% - 60px);
                margin-top: 5px;
                margin-left: 5px;
                .search-content {
                    width: calc(100% - 320px);
                }
                .search-date {
                    width: 150px;
                    border-left: 1px solid color($colors, primary);
                    .item-cover {
                        width: 150px;
                        left: calc(100% - 320px);
                    }
                }
                .search-city {
                    width: 160px;
                    border-left: 1px solid color($colors, primary);
                    .item-cover {
                        width: 160px;
                    }
                }
            }
            .search-btn {
                float: right;
                width: 50px;
                height: 47px;
                margin-top: 5px;
                margin-right: 5px;
            }
        }
        .search-category {
            width: 100%;
            height: 40px;
            background: url(/assets/imgs/category-bg.jpg);
            margin-top: 10px;
            .cate-block {
                display: inline-block;
                cursor: pointer;
                margin-left: 20px;
                width: 130px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: white;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
.home-content {
    margin-top: 10px;
    width: 100%;
    background: color($colors, bg);
    padding-left: 10px;
    padding-right: 10px;
    .home-show {
        width: 1100px;
        margin: auto;
        .card-title {
            width: 1100px;
            margin-top: 20px;
        }
        .card-frame {
            width: 1100px;
            height: auto;
            overflow: hidden;
        }
        .home-card {
            float: left;
            width: 220px;
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 20px;
            .card-img-top {
                width: 220px;
                height: 130px;
            }
        }
    }
    .home-ad {
        display: none;
    }
}
