@import '../../styles.scss';

.teamview-head-pic {
    width: 100%;
    height: 300px;
}
.team-pic-frame {
    display: inline-block;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-left: 20px;
}
.team-pic {
    width: 400px;
    height: 300px;
}
.pic-container {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    //background-color: rgba(0,0,0,0.8);
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; /* 1 */
    //-webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch; /* 2 */
    text-align: justify; /* 3 */
    //&::-webkit-scrollbar {
    //    display: none;
    //}
}
.teamview-frame {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    .request-frame {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 70px;
        border: 1px solid gray;
        border-radius: 5px;
    }
}
