<app-header></app-header>
<nav>
    <div class="teamview-head-pic">
        <!-- Picture List -->
        <div class="pic-container">
            <div class="team-pic-frame">
                <img class="team-pic" src="pic_trulli.jpg" alt="Trulli">
            </div>
            <div class="team-pic-frame">
                <img class="team-pic" src="pic_trulli.jpg" alt="Trulli">
            </div>
            <div class="team-pic-frame">
                <img class="team-pic" src="pic_trulli.jpg" alt="Trulli">
            </div>
            <div class="team-pic-frame">
                <img class="team-pic" src="pic_trulli.jpg" alt="Trulli">
            </div>
        </div>
    </div>

    <div class="teamview-frame">
        <div class="row">
            <div class="col-8">
                <h2>Cottage in Otaw for weekend</h2>
                <p>Entertainment / Bussiness</p>
                <p>Aug 23 ~ 26</p>
                <p>Bulaffer Lake, Toronto</p>
                <p>6 - 10 People</p>
                <p>Drop Period(Self): 6</p>
                <p>Drop Period(Other): 2</p>
                <p>Need Review</p>
                <p>Description</p>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                AD Area
                <div class="mx-auto" style="width: 100%; text-align: center;">
                    <button type="button" class="btn btn-primary">Request Join</button>&nbsp;
                    <button type="button" class="btn btn-primary">Accept</button>&nbsp;
                    <button type="button" class="btn btn-primary">Reject</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-footer></app-footer>