<app-header></app-header>
<nav>
    <div class="teamview-head-pic">
        <!-- Picture List -->
        <div class="pic-container">
            <div class="team-pic-frame" *ngFor="let photo of photoList; let i=index;">
                <img class="team-pic" [src]="photo.pic_url" alt="Image">
            </div>
        </div>
    </div>

    <div class="teamview-frame">
        <div class="row">
            <div class="col-8">
                <h2>{{team.title}}</h2>
                <p>Type: {{team.category}}</p>
                <p>{{team.time_begin}} ~ {{team.time_end}}</p>
                <p>{{team.location}}</p>
                <p>{{team.people}} People</p>
                <p>Drop Period(Self): {{team.dp_self}}</p>
                <p>Drop Period(Other): {{team.dp_other}}</p>
                <p>Need Review</p>
                <p>{{team.desc}}</p>
            </div>
            <div class="col-4">
                <!-- AD Area -->
                <div class="request-frame" *ngIf="userId != team.author">
                    <h5>Want to join this team ?</h5>
                    <textarea class="form-control" aria-label="With textarea" rows="3" placeholder="Say something"
                        [(ngModel)]="requestRemark"></textarea>
                    <div class="mx-auto" style="width: 100%; text-align: center; margin-top: 20px;">
                        <button type="button" class="btn btn-primary" (click)="onRequestJoinClick()">Request
                            Join</button>
                    </div>
                </div>
                <div class="request-frame" *ngIf="userId == team.author">
                    <h6 *ngIf="joinRequestList.length == 0">Join Request Empty</h6>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let join of joinRequestList; let i=index;">
                            {{join.remark}} from {{join.first_name}}
                            <!--span class="badge badge-primary badge-pill">14</span-->
                            <button type="button" class="btn btn-primary" (click)="onAcceptJoinClick(join)">Accept</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<app-footer></app-footer>